#splash{
    height: 50vh;
    background-image: url("sample.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Calibri;
}

#wrapper{
    width: 100%;
}

#header{
    visibility: visible;
    width: 100%;
    height: 96px;
    background-color: #F7F9F9;
    border-bottom: 1px solid #CBCCCC;
    border-radius: 5px;
}

.nav{
    width: 12%;
    font-family: Calibri;
    color: #171717;
    height: 99%;
}