body{
    background-color: #f58c2a;
    padding: 0;
    margin: 0;
}

#container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


.content-box{
    background-color: #F7F9F9;
    color: #171717;
    font-family: 'Roboto';
    font-size: 18px;
    width: 100%;
    padding: 20px;
    padding-left: 60px ;
    paddding-right: 60px ;
    margin: 0;
    text-align: center;
}

#header{
    display: none;
}


#splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F7F9F9;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Bree Serif';
    font-size: 40px;
    width: 100%;
    background-size: cover;
    padding-top: 20vh;
    margin: 0;
    text-align: center;
}

#main-logo{
    width: 300px;
    height: auto;
}