#header{
    visibility: visible;
    height: 96px;
    background-color: #F7F9F9;
    border-bottom: 1px solid #CBCCCC;
}

.nav{
    width: 12%;
    display: inline-flex;
    font-family: Calibri;
    color: #171717;
    height: 99%;
}